name: Build RPMs

on:
  workflow_dispatch:
  schedule:
    - cron: "25 5 * * 0" # 5:25 am UTC on Sundays

permissions:
  contents: read

jobs:
  build-fc42:
    permissions:
      actions: write # to allow the workflow to upload artifacts
    runs-on: ubuntu-latest
    name: Build Fedora 42 kernel with ACS override patch
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout this repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Free up disk space
        run: |
          sudo apt-get -qq purge build-essential "ghc*"
          sudo apt-get clean
          # cleanup docker images not used by us
          docker system prune -af
          # free up a lot of stuff from /usr/local
          sudo rm -rf /usr/local
          df -h

      - name: Build the Fedora 42 RPMs
        id: build-rpms
        uses: ./fc42-action

      - name: Upload the RPMs as artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kernel-${{ steps.build-rpms.outputs.kernel-version }}-fc42-acs-override-rpms
          path: |
            /home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/
            !/home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/*debug*.rpm

  build-fc43:
    permissions:
      actions: write # to allow the workflow to upload artifacts
    runs-on: ubuntu-latest
    name: Build Fedora 43 kernel with ACS override patch
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout this repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Free up disk space
        run: |
          sudo apt-get -qq purge build-essential "ghc*"
          sudo apt-get clean
          # cleanup docker images not used by us
          docker system prune -af
          # free up a lot of stuff from /usr/local
          sudo rm -rf /usr/local
          df -h

      - name: Build the Fedora 43 RPMs
        id: build-rpms
        uses: ./fc43-action

      - name: Upload the RPMs as artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kernel-${{ steps.build-rpms.outputs.kernel-version }}-fc43-acs-override-rpms
          path: |
            /home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/
            !/home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/*debug*.rpm
