name: Build RPMs

on:
  workflow_dispatch:
  schedule:
    - cron: "25 5 * * 0" # 5:25 am UTC on Sundays

permissions:
  contents: read

jobs:
  build-fc42:
    permissions:
      actions: write # to allow the workflow to upload artifacts
    runs-on: ubuntu-latest
    name: Build Fedora 42 kernel with ACS override patch
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout this repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false 

      - name: Free up disk space
        run: |
          sudo apt-get -qq purge build-essential "ghc*"
          sudo apt-get clean
          # cleanup docker images not used by us
          docker system prune -af
          # free up a lot of stuff from /usr/local
          sudo rm -rf /usr/local
          df -h

      - name: Build the Fedora 42 RPMs
        id: build-rpms
        uses: ./fc42-action

      - name: Upload the RPMs as artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: kernel-${{ steps.build-rpms.outputs.kernel-version }}-fc42-acs-override-rpms
          path: |
            /home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/
            !/home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/*debug*.rpm

  build-fc41:
    permissions:
      actions: write # to allow the workflow to upload artifacts
    runs-on: ubuntu-latest
    name: Build Fedora 41 kernel with ACS override patch
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout this repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false 

      - name: Free up disk space
        run: |
          sudo apt-get -qq purge build-essential "ghc*"
          sudo apt-get clean
          # cleanup docker images not used by us
          docker system prune -af
          # free up a lot of stuff from /usr/local
          sudo rm -rf /usr/local
          df -h

      - name: Build the Fedora 41 RPMs
        id: build-rpms
        uses: ./fc41-action

      - name: Upload the RPMs as artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: kernel-${{ steps.build-rpms.outputs.kernel-version }}-fc41-acs-override-rpms
          path: |
            /home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/
            !/home/runner/work/_temp/_github_home/rpmbuild/RPMS/x86_64/*debug*.rpm
