name: Pull Request Checks

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  super-linter:
    name: Run the super-linter
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Lint Code Base
        uses: super-linter/super-linter@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_DOCKERFILE_HADOLINT: true
          DOCKERFILE_HADOLINT_FILE_NAME: .hadolint.yaml
          VALIDATE_MARKDOWN: true
          MARKDOWN_CONFIG_FILE: .markdownlint.json
          VALIDATE_BASH: true

  build-dependabot-PRs:
    name: Build the kernel RPMs, if the PR is from Dependabot
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Build the FC42 kernel RPMs
        uses: ./fc42-action
        id: build-fc42-rpms
      - name: Build the FC43 kernel RPMs
        uses: ./fc43-action
        id: build-fc43-rpms

  # merge-dependabot-PRs:
  #     name: Automatically merge Dependabot PRs
  #     needs: [build-dependabot-PRs]
  #     runs-on: ubuntu-latest
  #     permissions:
  #       contents: write # to allow the workflow to push changes
  #     if: ${{ github.actor == 'dependabot[bot]' }}
  #     steps:
  #       - name: Enable auto-merge for Dependabot PRs
  #         run: gh pr merge --auto --merge "$PR_URL"
  #         env:
  #           PR_URL: ${{github.event.pull_request.html_url}}
  #           GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
